
.feature {
  display: flex;
}
.feature__img {
  width: rem(50px);
  height: rem(42px);
  color: $light-blue;
  margin-right: rem(7px);
}
.feature__desc {
  @include alegreya-sans(normal);
  font-size: rem(16px);
  color: $white;

  & p {
    display: block;
  }
}