.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: rem(21px) 0;
  background-color: $white;
}
.footer__content {
  display: flex;
  align-items: center;
  @include alegreya-sans(normal);
  font-size: rem(21px);
  line-height: 1;
  width: 100%;
}
.footer__right, .footer__left {
  width: 50%;
}
.footer__address {
  margin-bottom: rem(12px);
}
.footer__right {
  display: flex;
  justify-content: flex-end;
}