.header {
  position: absolute;
  z-index: $z-header;
  left: 0;
  width: 100%;
  color: $white;
  top: rem(24px);
}
.header__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-right: rem(20px);
}
.header__logo {
  margin-right: rem(44px);
}
.header__nav {
  flex: 1;
  margin-right: rem(44px);
}