.how-work {
  background-color: $light-light-grey;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -13%;
    left: 0%;
    display: block;
    background-image: url("../../img/icons/barry-af-reviews.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: $z-bef-af-section;
    width: rem(135px);
    height: rem(193px);
    @include tablets {
      left: -4%;
    }
  }
}