.network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.network__item {
  margin-right: rem(20px);
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  opacity: .3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .network__item:last-child {
    margin-right: 0; }
  .network__item:hover {
    opacity: 1; }

.network__ref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
