.phones {
  @include alegreya-sans (normal);
  font-size: rem(24px);
  display: flex;
  align-items: center;
  @include tablets {
    display: none;
  }

  &::before {
    content: "";
    width: rem(12px);
    height: rem(11px);
    background-image: url("../../img/icons/phone.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    // display: block;
    margin-right: rem(4px);
  }
}
