.reviews {
  background-color: $white;
  background-image: url("../../img/bg/bg-image-reviews.png");
  background-position: left 0% bottom -40%;
  background-repeat: no-repeat;
  background-size: initial;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 5%;
    right: 3%;
    display: block;
    background-image: url("../../img/icons/barry-bef-reviews.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: $z-bef-af-section;
    width: 150px;
    height: 86px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -10%;
    left: 0%;
    display: block;
    background-image: url("../../img/icons/barry-af-reviews.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: $z-bef-af-section;
    width: 135px;
    height: 193px;
  }
}
.reviews__container {
  height: 100%;
  display: flex;
}
.reviews__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.reviews__title {
  margin-bottom: 44px;
  z-index: $z-title-reviews;
}
.reviews__list {
  display: flex;
  margin-bottom: 22px;
}
.reviews__item {
  width: 100%;
  display: none;

  &--active {
    display: flex;
  }
}
.reviews__list-btns {
  display: flex;
  justify-content: center;
}
.reviews__item-btn {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid transparent;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    border-color: $green;
  }
}
.reviews__img-btn {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}